* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 15px;
  position: fixed;
  width: 100vw;
  height: 60px;
  background-color: rgba(140, 140, 140, 0.9);
}
.mainDiv {
  padding-top: 60px;
}
/* ToDoCard */
.todo-card {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  border-radius: 12px;
  width: 200px;
  box-shadow: 1px 1px 3px green;
}
