@font-face {
  font-family: 'ImcreSoojin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  position: relative;
  background-color: whitesmoke;
}
/*header*/
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 15px;
  position: fixed;
  width: 100vw;
  height: 60px;
  background-color: black;
  color: white;
  align-items: center;
    font-family: 'ImcreSoojin';
}
button{
    font-family: 'ImcreSoojin';
}
.header-box {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
}
/*main*/
.mainDiv {
  width: 80vw;
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  padding: 5px;
  padding-top: 60px;
  background-color: #111;
  border-radius: 12px;
  box-shadow: 1px 1px 3px black;
}

/*input Section*/
.input-section {
  padding: 2px;
  background-color: #111;
  color: balck;
  padding: 5px;
}
.form-continer {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}
.input-box {
  display: flex;
  width: 60%;
  justify-content: space-around;
  align-items: center;
}
.input-box input {
  padding: 1px;
  margin-left: 5px;
}
/*article*/
.article-container {
  margin: 5px;
  height: 40vh;
}
.disableed-article-container{
  margin: 5px;
  height: 40vh;
  display: none;
}
.card-container {
  height: 90%;
  margin-top: 5px;
  margin-left: 5px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: hidden;
  background:linear-gradient(45deg, black, #333);
  border-radius: 12px;
  box-shadow: 1px 1px 3px white;
}
.white-card-container {
  height: 90%;
  margin-top: 5px;
  margin-left: 5px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: hidden;
  background:linear-gradient(45deg, white, #333);
  border-radius: 12px;
  box-shadow: 1px 1px 3px black;
}
.article-title {
  position: absolute;
  margin: 5px;
  color: white;
  left: 5px;
}
.white-article-title {
  position: absolute;
  margin: 5px;
  color: black;
  left: 5px;
}
.doneBtn{
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 100;
}
/* ToDoCard */
.todo-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 5px;
  background-color: whitesmoke;
  margin: 3px;
  width: 200px;
  height: 80%;
  box-shadow: 1px 1px 6px white;
}
.todo-card h1 {
  text-align: center;
  margin-bottom: 5px;
}
.todo-content {
  height: 60%;
  border: 1px solid black;
  padding: 2px;
}
.button-box {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}
.button-box button {
  width: 30%;
}
.black-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 5px;
  background-color: black;
  color: white;
  margin: 3px;
  width: 200px;
  height: 80%;
  box-shadow: 3px 3px 6px white;
}
.black-card h1 {
  text-align: center;
  margin-bottom: 5px;
}
.black-card-content {
  height: 60%;
  background-color: #333;
  border: 1px solid white;
  padding: 2px;
}
/*footer*/
.footer {
  display: flex;
  background-color: black;
  color: white;
  height: 100px;
  justify-content: center;
  padding-top: 10px;
  margin-top: 10px;
}
